package avatar

import "github.com/andersonribeir0/clever/internal/components/css"

templ Avatar(path string) {
    <div id="avatarComponent" class={ css.AvatarContainer() }>
        <img class={ css.AvatarImage() } id="avatarImage" src={ path } alt="Avatar" />
    </div>
}